        <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{{path('app_login')}}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{{path('app_home')}}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{{path('app_generatephoto')}}">Generate photo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{{path('app_registerprocessingunit')}}">Register as processing unit</a>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        </ul>